.title{
    position: absolute; 
    top: 47%;
    left: 35%; 
}

.title h1{
position: relative;
top: 90%;
color: rgb(255, 255, 255);
font-size: 70px;
}
.title h2{
position: absolute;
top: 270%;
left: 35%;
color: rgb(255, 255, 255);
font-size: 35px;
}

.title h3{
position: absolute;
top: 300%;
left: 30%;
color: rgb(255, 255, 255);
font-size: 20px;
}

body {
background-image: url("image2.jpg");
position: relative;
left: 10px;
top: 0px;
background-repeat: no-repeat;
background-size: cover;
}	
.background-2 {
background-image: url('image3.png');
background-repeat: no-repeat;
background-size: cover; /* Adjust the image size to cover the entire element */
height: 100vh;
width: 195vh;
color: white; 
position: absolute;
top: 2650%;
}

.background-2 h1 {
    position: absolute;
    top: 35%;
    left: 33%;
    justify-content: center;

}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    top: 1600px;
}

.search-box {
    width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.search-btn {
    padding: 10px 20px;
    background-color: #391919;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}