<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>404 Not Found!</title>
        <style>
            body {
                height: 100vh;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .error {
                color: white;
            }
        </style> 
	</head>
	<body class="error">
		<div class="404error">
            <h1>404 Not Found!</h1>
        </div>
	</body>
</html>