<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>VacaRecommender</title> 
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body class="search">
        <section>
            <div>
                <h1 class="enter-city">ENTER THE CITY YOU WANT TO GO TO...</h1>
            </div>	
            <br>
            <div class="search-conatainer">
                <form action="destination" method="get">
                    <input class="bar" id="city" name="city" type="text" placeholder="Search...">
                    <button type="submit" class="search-btn">Next</button>
                </form>
            </div>
            <div id="trip"></div>
        </section>
	</body>
</html>