html, body {
    height: 100vh;
}

.main {
    background-image: url('/img/image2.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: rgb(154, 7, 7);
    text-align: center;
    font-size: larger;
    font-family: 'Kalam', cursive;
    font-family: 'Sacramento', cursive;
    font-style: italic;
    font-size: 80px;
}

.search-city {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px; 
    font-family: 'Kalam', cursive;
    text-decoration:azure;
    color:peachpuff; 
}

.search {
    background-image: url('/img/image3.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-city {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}

.search-conatainer {
    margin-bottom: 120px;


}

.bar {
    width: 65%;
    height: 20px;
    background-color: white;
}

.search-btn {
    width: 60px;
    height: 27px;
    background-color: white;
    color: darkblue;
}

.trip {
    background-color: aliceblue;
    display: flex;
    text-align: center;
}

.error {
    display: flex;
}




